# Eigene Ordner
models/

# Virtuelle Umgebungen
.venv/
venv/
env/

# Python Cache-Dateien
__pycache__/
*.pyc

# IDEs und Systemdateien
.idea/
.vscode/
.DS_Store

# Modell-Weights
results/model_results/**/model_weights/

# Claude Code
.claude/
CLAUDE.md