# Virtuelle Umgebungen
.venv/
venv/
env/

# Python Cache-Dateien
__pycache__/
*.pyc

# IDEs und Systemdateien
.idea/
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Claude Code
.claude/
.agents/
skills-lock.json
CLAUDE.md

# Optuna Datenbank
*.db

# Modell-Weights
results/model_results/**/model_weights/